[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "purgeR"]
	path = purgeR
	url = https://gitlab.com/elcortegano/purger
	shallow = true
	registered = true
